<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>form_standard_client</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Andika&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anek+Bangla&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap">

</head>
<body style="background: rgb(246,247,248);border-bottom-style: solid;color: var(--bs-black);">

<form method="post" id="form-cadastro-fornecedor">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="mb-2">
                    <h8><small>CPF / CNPJ</small></h8>
                    <div class="input-group">

                        <input class="form-control InputBorder" oninput="formatarDocumento2()" type="text"
                               id="documento"
                               style="font-size:12px;"
                               name="documento" value="{{ documento }}">

                        <button id="consulta-cnpj" type="button" style="font-size:12px;" class="btn btn-dark">Consultar
                            CNPJ
                        </button>

                    </div>
                </div>
            </div>
            <div class="row" id="row-cnpj">
                <div class="col-md-3" id="contato-cnpj-2">
                    <div class="mb-2">
                        <h8><small>Representante</small></h8>
                        <h8><small> (se CNPJ)</small></h8>
                        <div class="input-group">
                            <input class="form-control InputBorder" type="text" id="contato-cnpj"
                                   style="font-size:12px;"
                                   name="contato-cnpj">
                        </div>
                    </div>
                </div>
                <div class="col-md-3" id="inscricao-estadual-2">
                    <div class="mb-2">
                        <h12><small>Insc. Estadual - CNPJ</small></h12>
                        <div class="input-group">
                            <input class="form-control InputBorder" type="text" id="inscricao-estadual"
                                   style="font-size:12px;"
                                   name="inscricao_estadual">
                        </div>
                    </div>
                </div>
                <div class="col-md-3" id="data-abertura2">
                    <div class="mb-2">
                        <h8><small>Data Abertura (CNPJ)</small></h8>
                        <div class="input-group">
                            <input class="form-control InputBorder" type="date" id="data-abertura"
                                   style="font-size:12px; "

                                   name="data_abertura">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-2">
                        <h8><small>Nome do Cliente</small></h8>
                        <div class="input-group">
                            <input class="form-control InputBorder" type="text" id="nome"
                                   style="font-size:12px;"
                                   name="nome" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-2">
                        <h8><small>Email</small></h8>
                        <div class="input-group">
                            <input class="form-control InputBorder" type="email" id="email"
                                   style="font-size:12px;"
                                   name="email" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-2">
                        <h8><small>Telefone1</small></h8>
                        <div class="input-group">
                            <input class="form-control InputBorder" type="text" id="telefone1"
                                   style="font-size:12px;"
                                   name="telefone1" maxlength="15" required>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="mb-2">
                    <h8><small>CEP</small></h8>
                    <div class="input-group">
                        <input class="form-control InputBorder" type="text" id="cep"
                               style="font-size:12px;"
                               name="cep" required>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h8><small>Bairro</small></h8>
                <input class="form-control InputBorder" type="text" id="bairro"
                       style="font-size:12px;"
                       name="bairro" required>
            </div>
            <div class="col-md-3">
                <h8><small>Cidade</small></h8>
                <input class="form-control InputBorder" type="text" id="cidade"
                       style="font-size:12px;"
                       name="cidade" required>
            </div>
            <div class="col-md-1">
                <h8><small>UF</small></h8>
                <input class="form-control InputBorder" type="text" id="uf"
                       style="font-size:12px;"
                       name="uf" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h8><small>Logradouro</small></h8>
                <input class="form-control InputBorder" type="text" id="logradouro"
                       style="font-size:12px;"
                       name="endereco" required>
            </div>
            <div class="col-md-2">
                <div class="mb-1">
                    <h8><small>Nº</small></h8>
                    <div class="input-group">
                        <input class="form-control InputBorder" type="number" id="numero_endereco"
                               style="font-size:12px;"
                               name="numero_endereco" required>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <h8><small>Complemento</small></h8>
                    <div class="input-group">
                        <input class="form-control InputBorder" type="text" id="complemto_endereco"
                               style="font-size:12px;"
                               name="complemento_endereco">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mb-4">
                    <button id="salvar-fornecedor" type="submit" style="font-size:12px;" class="btn btn-dark">Cadastrar
                        Fornecedor
                    </button>
                </div>
            </div>
        </div>
    </div>

</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js"></script>

<!-- SCRIPT PARA CONSULTAR CNPJ -->
<script>
$(document).ready(function() {
  $("#consulta-cnpj").click(function() {
    var cnpj = $("#documento").val(); // Obtém o valor do campo CNPJ
    cnpj = cnpj.replace(/\D/g, '');

    // Realiza a requisição AJAX para a API
    $.ajax({
      url: "https://receitaws.com.br/v1/cnpj/" + cnpj,
      dataType: "jsonp",
      success: function(data) {
        $("#nome").val(data.nome);
        if (data.abertura) {
              var dataString = data.abertura;
              var dataArray = dataString.split("/");
              var dataFormatada = dataArray[2] + "-" + dataArray[1] + "-" + dataArray[0];
              $("#data-abertura").val(dataFormatada);
            }
        $("#data-abertura").val(dataFormatada);
        $("#cep").val(data.cep);
         $("#logradouro").val(data.logradouro);
         $("#uf").val(data.uf);
         $("#cidade").val(data.municipio);
         $("#bairro").val(data.bairro);
         $("#telefone1").val(data.telefone);
         $("#complemto_endereco").val(data.complemento);
         $("#numero_endereco").val(data.numero);

      },

      error: function(xhr, status, error) {
        // Manipula erros de requisição, se houver algum
        console.log("Erro na consulta do CNPJ: " + error);
      }
    });
  });
});





</script>
<!-- SCRIPT PARA FORMATAR DOCUMENTOS -->
<script>
    function formatarDocumento2() {
  var input = document.getElementById('documento');
  var valor = input.value.replace(/\D/g, ''); // Remove caracteres não numéricos

  // Verifica se é CPF (11 dígitos) ou CNPJ (14 dígitos)
  if (valor.length <= 11) {
    valor = valor.replace(/(\d{3})(\d)/, '$1.$2');
    valor = valor.replace(/(\d{3})(\d)/, '$1.$2');
    valor = valor.replace(/(\d{3})(\d{1,2})$/, '$1-$2');
  } else {
    valor = valor.replace(/^(\d{2})(\d)/, '$1.$2');
    valor = valor.replace(/^(\d{2})\.(\d{3})(\d)/, '$1.$2.$3');
    valor = valor.replace(/\.(\d{3})(\d)/, '.$1/$2');
    valor = valor.replace(/(\d{4})(\d)/, '$1-$2');
  }

  input.value = valor;
}





</script>

<!-- SCRIPT PARA BUSCA DE CEP -->
<script>
  $(document).ready(function() {
  console.log('entrou');
    $('#cep').on('keyup', function() {
      var cep = $(this).val().replace(/\D/g, '');
      if (cep.length == 8) {
        $.ajax({
          url: '/consultar_cep/',
          type: 'GET',
          data: { 'cep': cep },
          dataType: 'json',
          success: function(data) {
          var localidade = data.bairro + ', ' + data.localidade + ' - ' + data.uf;
          $('#bairro').val(data.bairro);
          $('#cidade').val(data.localidade);
          $('#uf').val(data.uf);
          $('#logradouro').val(data.logradouro);
        }
        });
      }
    });
   $('#cep').on('keyup', function() {
    var cep = $(this).val().replace(/\D/g, '');
    cep = cep.replace(/^(\d{5})(\d)/, '$1-$2');
    $(this).val(cep);
  });
  });





</script>
<!-- SCRIPT PARA FORMATAR TELEFONES -->
<script>
        $(document).ready(function() {
  console.log('entrou');

  // Formatação do campo de telefone
  $('#telefone1').on('keyup', function() {
    var telefone = $(this).val().replace(/\D/g, '');
    var formattedTelefone = '';

    if (telefone.length >= 11) {
      // Formato para telefones com DDD
      formattedTelefone = '(' + telefone.substr(0, 2) + ') ' + telefone.substr(2, 5) + '-' + telefone.substr(7);
    } else if (telefone.length >= 10) {
      // Formato para telefones sem DDD
      formattedTelefone = telefone.substr(0, 5) + '-' + telefone.substr(5);
    } else if (telefone.length >= 6) {
      // Formato para telefones com 9 dígitos (sem formatação especial)
      formattedTelefone = telefone.substr(0, 5) + '-' + telefone.substr(5);
    } else {
      // Telefone com menos de 6 dígitos (sem formatação especial)
      formattedTelefone = telefone;
    }

    $(this).val(formattedTelefone);
  });

});






</script>

<!-- SCRIPT PARA FORMATAR TELEFONES -->
<script>
        $(document).ready(function() {


  // Formatação do campo de telefone
  $('#telefone2').on('keyup', function() {
    var telefone = $(this).val().replace(/\D/g, '');
    var formattedTelefone = '';

    if (telefone.length >= 11) {
      // Formato para telefones com DDD
      formattedTelefone = '(' + telefone.substr(0, 2) + ') ' + telefone.substr(2, 5) + '-' + telefone.substr(7);
    } else if (telefone.length >= 10) {
      // Formato para telefones sem DDD
      formattedTelefone = telefone.substr(0, 5) + '-' + telefone.substr(5);
    } else if (telefone.length >= 6) {
      // Formato para telefones com 9 dígitos (sem formatação especial)
      formattedTelefone = telefone.substr(0, 5) + '-' + telefone.substr(5);
    } else {
      // Telefone com menos de 6 dígitos (sem formatação especial)
      formattedTelefone = telefone;
    }

    $(this).val(formattedTelefone);
  });

});

</script>



</body>
</html>