{% extends "./modelo.html" %}
{% load static %}
{% block container %}
<head xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="{% static 'PEDIDO/fontawesome-all.min.css' %}">
    <style>
    /* Estilos personalizados */

    .custom-background1 {
        background-color: #f2f2f2; /* Cor de fundo cinza claro */
        padding: 10px; /* Ajuste o valor do preenchimento conforme necessário */
    }

        .form-control {
      border: 1px solid black;
      border-radius: 5px;
      font-size: 90%;
       background-color: #f8f9fa;
    }
    .form-control2 {
      border: none;
      border-radius: 0;
      border-bottom: none;
      font-size: 95%;
    }

    .form-control::placeholder {
      color: #999;
      font-size: 80%;
    }
    .form-control2::placeholder {
      color: #999;
      font-size: 80%;
    }

    .custom-margin-top {
      margin-top: 35px;
      margin-left:10px;
    }

    .gray-bg {
      background-color: #f8f9fa;

    }

    .cliente-container {
      background-color: #000;
      color: #fff;
      padding: 2px;
    }

    .modal-dialog {
      max-width: 900px; /* Ajuste o valor conforme necessário */
    }

    .modal-content {
      height: 400px; /* Ajuste o valor conforme necessário */
    }
    .form-wrapper {
      border: 1px solid black;
      padding: 10px;
    }


    </style>
</head>
<body>
<section class="mt-2">
    <div class="container">
        <form method="post" class="form-control" enctype="multipart/form-data" action="/editar_conta_pagar/{{ consulta.id }}/">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 align-items-center text-center mb-4"
                     style="margin-left: 200px; margin-right: auto;">

                </div>
                <div class="row ">


                    <div class="row">
                        <h5 class="text-center"><strong>Conta a Pagar</strong></h5>
                    </div>

                    <div class="row mb-3 custom-margin-top gray-bg">

                        <div class="row">
                            <div class="row mt-4">
                             <label for="empresa">Empresa:</label>
                                    <div class="d-flex align-items-center ">
                                        <select class="form-control text-center" name="empresa" id="empresa">
                                            <option value="{{ consulta.empresa.nome }}">{{ consulta.empresa.nome }}</option>
                                            {% for empresa in empresas %}
                                            <option value="{{ empresa.nome }}">{{empresa.nome}}</option>
                                            {% endfor %}
                                        </select>

                                    </div>
                         </div>
                            <div class="col-md-2">
                                <label for="status_conta"><strong>Status:</strong></label>
                                <select name="status_conta" id="status_conta" class="form-control text-center">
                                    {% for status in status_consultas %}
                                    {% if status.0 == consulta.status %}
                                    <option value="{{ status.0 }}" selected>{{ status.1 }}</option>
                                    {% else %}
                                    <option value="{{ status.0 }}">{{ status.1 }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="numero_pedido"><strong>Nº Pedido:</strong></label>
                                <input type="text" name="numero_pedido" id="numero_pedido"
                                       value="{{ consulta.pedido }}" class="form-control text-center">
                            </div>

                            <div class="col-md-2">
                                <label for="data_vencimento"><strong>Vencimento:</strong></label>
                                <input type="date" name="data_vencimento" id="data_vencimento"
                                       value="{{ consulta.data_vencimento|date:'Y-m-d' }}"
                                       class="form-control text-center" required>
                            </div>
                            <div class="col-md-2">
                                <label for="data_pagamento"><strong>Data Pagamento:</strong></label>
                                <input type="date" name="data_pagamento" id="data_pagamento"
                                       value="{{ consulta.data_pagamento|date:'Y-m-d' }}"
                                       class="form-control text-center">
                            </div>



                            <div class="row">
                                <div class="col-md-5">
                                <label for="descricao"><strong>Descrição:</strong></label>
                                <input type="text" name="descricao" id="descricao" value="{{ consulta.descricao }}"
                                       class="form-control text-center" required>
                                </div>
                                <div class="col-md-3">
                                    <label for="fornecedor"><strong>Fornecedor:</strong></label>
                                    <input list="fornecedores" type="text" name="fornecedor" id="fornecedor"
                                           value="{{ consulta.fornecedor.nome }}" class="form-control text-center"
                                           required>
                                    <datalist id="fornecedores">
                                        {% for fornecedor in fornecedores %}
                                        <option value="{{ fornecedor.nome }}"></option>
                                        {% endfor %}
                                    </datalist>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="tipo_pagamento"><strong>Tipo de Pagamento:</strong></label>
                                <input list="tipo-pagamento" type="text" name="tipo_pagamento" id="tipo_pagamento"
                                       value="{{ consulta.tipo_pgto.descricao }}" class="form-control text-center"
                                       required>
                                <datalist id="tipo-pagamento">
                                    {% for tipo in tipos %}
                                    <option value="{{ tipo.descricao }}"></option>
                                    {% endfor %}
                                </datalist>
                            </div>
                            <div class="col-md-4">
                                <label for="valor"><strong>Valor:</strong></label>
                                <input type="text" name="valor" id="valor" value="{{ consulta.valor }}"
                                       class="form-control text-center" required>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label for="outras_informacoes"><strong>Outras Informações:</strong></label>
                                <input type="text" name="outras_informacoes" id="outras_informacoes"
                                       value="{{ consulta.outras_informacoes }}" class="form-control text-center">
                            </div>
                            <div class="col-md-4">
                                <label for="arquivo"><strong>Anexar Boleto</strong></label>
                                <input type="file" class="form-control text-center" id="arquivo" name="arquivo">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 mt-4">
                                <button id="submit-button" type="submit" class=" btn btn-dark">Salvar</button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>


        </form>
    </div>

    </div>

    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="{% static 'PEDIDO/bootstrap.min.js' %}"></script>
<script src="{% static 'PEDIDO/script.min.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        function calcularVTotal() {
            var inputs = document.querySelectorAll("input[name='valor_parcela']");
            var total = 0;

            for (var i = 0; i < inputs.length; i++) {
                var valorParcela = parseFloat(inputs[i].value) || 0;
                total += valorParcela;
            }

            var valorTotalElement = document.getElementById("pedido-total");
            valorTotalElement.textContent = "Valor Total do Pedido: R$ " + total.toFixed(2);
        }

        // Chama a função inicialmente para exibir o valor total com os valores existentes
        calcularVTotal();

        // Adiciona um event listener para calcular o valor total sempre que houver alterações nos inputs
        var valorParcelaInputs = document.querySelectorAll("input[name='valor_parcela']");
        for (var i = 0; i < valorParcelaInputs.length; i++) {
            valorParcelaInputs[i].addEventListener("input", calcularVTotal);
        }
          $(document).on('click', '.del-row', function() {
    $(this).closest('tr').remove();

    calcularVTotal(); // Chamando a função para recalcular o valor total
});

function calcularVTotal() {
    var total = 0;

    $('input[name="valor_parcela"]').each(function() {
        var valorParcela = parseFloat($(this).val()) || 0;
        total += valorParcela;
    });

    $('#pedido-total').text('Valor Total do Pedido: R$ ' + total.toFixed(2));
}
    });







</script>


<!-- Adiciona linha a tabela -->
<script>
    document.getElementById("add-row-button").addEventListener("click", function () {
        calcularVTotal();
        // Obtém a tabela e a última linha
        var table = document.querySelector("table");
        var lastRow = table.rows[table.rows.length - 1];

        // Clona a última linha
        var newRow = lastRow.cloneNode(true);

        // Incrementa o valor da coluna "numero_parcela" na nova linha
        var numeroParcelaInput = newRow.querySelector("input[name='numero_parcela']");
        var lastNumeroParcela = parseInt(numeroParcelaInput.value);
        numeroParcelaInput.value = lastNumeroParcela + 1;

        // Limpa os valores dos outros inputs na nova linha
        var inputs = newRow.querySelectorAll("input:not([name='numero_parcela'])");
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].value = "";
        }

        // Adiciona a nova linha à tabela
        table.appendChild(newRow);
        function calcularVTotal() {
            var inputs = document.querySelectorAll("input[name='valor_parcela']");
            var total = 0;

            for (var i = 0; i < inputs.length; i++) {
                var valorParcela = parseFloat(inputs[i].value) || 0;
                total += valorParcela;
            }

            var valorTotalElement = document.getElementById("pedido-total");
            valorTotalElement.textContent = "Valor Total do Pedido: R$ " + total.toFixed(2);
        }
    });








</script>
 <!-- SCRIPT PARA CALCULAR PREÇO DE A VISTA E PARCELADO  -->
<script>
    // Função para calcular a soma dos valores da tabela e atualizar os campos de total
    function calcularTotal() {
        var totalAvistaInput = document.getElementById('total-avista');
        var totalParceladoInput = document.getElementById('total-parcelado');
        var descontoInput = document.getElementById('desconto');

        var totalAvista = parseFloat(totalAvistaInput.value) || 0;
        var totalParcelado = parseFloat(totalParceladoInput.value) || 0;
        var desconto = parseFloat(descontoInput.value) || 0;

        // Percorre cada linha da tabela e calcula a soma dos valores
        var rows = document.querySelectorAll('#tabela-produtos tbody tr');
        var totalTabela = 0;
        rows.forEach(function(row) {
            var quantidadeInput = row.querySelector('.quantity');
            var precoInput = row.querySelector('.unit-price');

            var quantidade = parseFloat(quantidadeInput.value) || 0;
            var preco = parseFloat(precoInput.value) || 0;
            var valorTotal = quantidade * preco;

            totalTabela += valorTotal;
        });

        var valorTotalComDesconto = totalTabela - desconto;

        if (valorTotalComDesconto < totalAvista) {
            totalAvista = valorTotalComDesconto;
            totalParcelado = 0;
        } else {
            totalAvista = totalAvista;
            totalParcelado = valorTotalComDesconto - totalAvista;
        }

        // Atualiza os campos de total
        totalAvistaInput.value = totalAvista.toFixed(2);
        totalParceladoInput.value = totalParcelado.toFixed(2);
    }

    // Adiciona eventos input aos campos de valor à vista, valor parcelado e desconto
    var totalAvistaInput = document.getElementById('total-avista');
    var totalParceladoInput = document.getElementById('total-parcelado');
    var descontoInput = document.getElementById('desconto');

    totalAvistaInput.addEventListener('input', calcularTotal);
    totalParceladoInput.addEventListener('input', calcularTotal);
    descontoInput.addEventListener('input', calcularTotal);

    // Adiciona evento de escuta de alteração aos campos da tabela
    var tableInputs = document.querySelectorAll('#tabela-produtos input');
    tableInputs.forEach(function(input) {
        input.addEventListener('input', calcularTotal);
    });






</script>


<script>
   $(document).ready(function() {

   $('#total-avista, #total-parcelado, #desconto').on('change', function() {
    updateTotalSum();
  });

  function calculateTotal(row) {
    var quantity = parseInt(row.find('.quantity').val()) || 0;
    var unitPrice = parseFloat(row.find('.unit-price').val()) || 0;
    var total = quantity * unitPrice;
    row.find('.total').text('R$ ' + total.toFixed(2));
    return total;
  }

   function updateTotalSum() {
      var sum = 0;
      $('tbody tr').each(function() {
        var total = calculateTotal($(this));
        sum += total;
      });

      var desconto = parseFloat($('#desconto').val()) || 0;
      var valorTotalPedido = sum - desconto;

      var formattedSum = sum.toFixed(2);
      var formattedValorTotalPedido = valorTotalPedido.toFixed(2);

      $('#total-sum').text('Valor Total: R$ ' + formattedSum);
      $('#pedido-desconto').text('Desconto: R$ ' + desconto.toFixed(2));
      $('#order-total').text('Valor Total do Pedido: R$ ' + formattedValorTotalPedido);
    }

  $(document).on('input', '.quantity, .unit-price', function() {
    var row = $(this).closest('tr');
    calculateTotal(row);
    updateTotalSum();
  });



  // Inicializar o valor total ao carregar a página
  updateTotalSum();
});

































</script>
<!-- SCRIPT PARA EXIBIR OS CAMPOS DE EDITAR FORMA DE PAGAMENTO -->
<script>
    $(document).ready(function() {
        $('input[name="alterar_pagamento"]').change(function() {
            if ($(this).val() === 'sim') {
                $('#opcao-alterar-pagamento').show();
            } else {
                $('#opcao-alterar-pagamento').hide();
            }
        });
    });
















</script>

</body>

</html>
{% endblock %}