<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div>
    <fieldset>
        <legend>Selecione o Endereço de Entrega</legend>
        <div class="custom-control custom-radio">
            <input type="radio" id="customRadio1" class="custom-control-input" name="endereco_cadastro" checked=""
                   style="box-shadow: 0px 0px var(--bs-indigo);--bs-primary: #000206;--bs-primary-rgb: 0,2,6;">
            <label class="form-label custom-control-label" for="customRadio1" style="margin-right: 2px;">Endereço de
                Cadastro</label></div>
        <div class="custom-control custom-radio">
            <input type="radio" id="customRadio2" class="custom-control-input" name="customRadio">
            <label class="form-label custom-control-label" for="customRadio2">Outro Endereço</label></div>
    </fieldset>
    <fieldset>
        <div class="custom-control custom-radio custom-control-inline"></div>
    </fieldset>
    <fieldset>
        <div class="custom-control custom-checkbox"></div>
    </fieldset>
    <fieldset></fieldset>
</div>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>