<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>formcliente</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Advent+Pro&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anek+Tamil&amp;display=swap">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>
<body style="padding-right: 0px;border-bottom-style: none;">
<section class="py-4 py-xl-5"><h1 style="margin-right: 10px;font-family: 'Anek Tamil', sans-serif;">&nbsp;<img
        src="assets/img/OIP.jpg" width="71" height="64">Cadastro de Colaborador</h1></section>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="mb-3"><small>&nbsp;</small>
                <div class="input-group"><input class="form-control InputBorder" type="text" placeholder="Nome"
                                                style="/*border: 0;*//*border-width: 0 0 1px 0;*//*border-color: black;*//*border-radius: 0;*/margin-top: 8px;"
                                                name="nome"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mb-3"><small>&nbsp;</small><label class="form-label"
                                                          style="font-family: 'Anek Tamil', sans-serif;">Data de
                Nascimento</label>
                <div class="input-group"><input class="form-control InputBorder" id="data"
                                                placeholder="Data de Nascimento"
                                                style="/*border: 0;*//*border-width: 0 0 1px 0;*//*border-color: black;*//*border-radius: 0;*/font-family: 'Anek Tamil', sans-serif;"
                                                name="data"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mb-3"><small>&nbsp;</small>
                <div class="input-group"><input class="form-control InputBorder" type="text" placeholder="CPF"
                                                style="/*border: 0;*//*border-width: 0 0 1px 0;*//*border-color: black;*//*border-radius: 0;*/margin-top: 8px;"
                                                name="cpf"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mb-3"><small>&nbsp;</small>
                <div class="input-group"><input class="form-control InputBorder" type="text" id="email"
                                                placeholder="EMAIL"
                                                style="/*border: 0;*//*border-width: 0 0 1px 0;*//*border-color: black;*//*border-radius: 0;*/margin-top: 8px;"
                                                name="email"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="mb-3"><small>&nbsp;</small>
                <div class="input-group"><input class="form-control InputBorder" type="text" placeholder="Telefone"
                                                style="/*border: 0;*//*border-width: 0 0 1px 0;*//*border-color: black;*//*border-radius: 0;*/margin-top: 7px;"
                                                name="telefone"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mb-3"><small>&nbsp;</small>
                <div class="input-group"><input class="form-control InputBorder" type="text" placeholder="Salario Base"
                                                style="/*border: 0;*//*border-width: 0 0 1px 0;*//*border-color: black;*//*border-radius: 0;*/margin-top: 7px;"
                                                name="salario"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="select" style="margin-top: 20px;"><select
                    style="margin-top: -10px;border-top-style: hidden;border-right-style: hidden;border-bottom-color: var(--bs-black);border-left-style: hidden;padding-top: -10px;">
                <optgroup label="This is a group">
                    <option value="12" selected="">This is item 1</option>
                    <option value="13">This is item 2</option>
                    <option value="14">This is item 3</option>
                </optgroup>
            </select></div>
        </div>
        <div class="col-md-3">
            <div class="mb-3"><small>&nbsp;</small>
                <div class="input-group"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xl-9">
            <div class="mb-3"><small>&nbsp;</small>
                <div class="input-group"><input class="form-control InputBorder" type="text" placeholder="Endereço"
                                                style="/*border: 0;*//*border-width: 0 0 1px 0;*//*border-color: black;*//*border-radius: 0;*/"
                                                name="endereco"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" type="SALVAR"
                    style="color: var(--bs-btn-color);border-color: var(--bs-btn-color);background: var(--bs-gray-dark);margin-top: 20px;margin-left: 0px;">
                SALVAR
            </button>
        </div>
    </div>
</div>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>