<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .message {
            font-size: 50px;
            text-align: center;
            display: flex;
            align-items: center;
        }

        .icon {
            width: 46px;
            height: 46px;
            margin-right: 10px;
            fill: #155724;
        }
    </style>
</head>
<body>
    <div class="message">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
        </svg>
        LAYOUT CADASTRADO COM SUCESSO
    </div>
</body>
</html>
